@import "colors.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
    background: transparent;
    border: none;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @black;
}

#workspaces button.empty {
  opacity: 0.5;
}

window,
tooltip,
#workspaces,
#clock,
#custom-expand-icon,
#tray,
#bluetooth,
#network,
#pulseaudio,
#cpu,
#battery,
#language {
    background-color: @white;
    color: @black;
    padding: 0 10px;
    margin: 4px 6px;
    border-radius: 10px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
